@using MvcStok.Models.Entity
@model List<TBLMUSTERILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@ViewBag.CustomerId</th>
            <th>@ViewBag.CustomerName</th>
            <th>@ViewBag.CustomerSurname</th>
            <th>@ViewBag.Delete</th>
            <th>@ViewBag.Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mus in Model)
        {
            <tr>
                <td>@mus.MUSTERIID</td>
                <td>@mus.MUSTERIAD</td>
                <td>@mus.MUSTERISOYAD</td>
                <td>
                    <a href="/MUSTERI/SIL/@mus.MUSTERIID" class="btn btn-danger">
                        @ViewBag.Delete
                    </a>
                </td>
                <td>
                    <a href="/MUSTERI/MusteriGetir/@mus.MUSTERIID" class="btn btn-success">
                        @ViewBag.Update
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/Musteri/YeniMusteri/" class="btn btn-primary">
    @ViewBag.NewCustomer
</a>
