@using MvcStok.Models.Entity
@model List<TBLMUSTERILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Resources.Labels.CustomerId
            </th>
            <th>
                @Resources.Labels.CustomerName
            </th>
            <th>
                @Resources.Labels.CustomerSurname
            </th>
            <th>
                @Resources.Labels.Delete
            </th>
            <th>
                @Resources.Labels.Update
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mus in Model)
        {
            <tr>
                <td>@mus.MUSTERIID</td>
                <td>@mus.MUSTERIAD</td>
                <td>@mus.MUSTERISOYAD</td>
                <td>
                    <a href="/MUSTERI/SIL/@mus.MUSTERIID" class="btn btn-danger btn-delete">
                        @Resources.Labels.Delete
                    </a>
                </td>
                <td>
                    <a href="#" class="btn btn-success btn-update" data-id="@mus.MUSTERIID">@ViewBag.Update</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
    @ViewBag.NewCustomer
</button>

<!-- GÜNCELLE MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="editModalLabel">Müşteri Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="editProductForm">
                    <input type="hidden" id="musteriId" name="MUSTERIID" />
                    <div class="form-group">
                        <label>Müşteri Adı</label>
                        <input type="text" id="musteriAd" name="MUSTERIAD" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Müşteri Soyadı</label>
                        <input type="text" id="musteriSoyad" name="MUSTERISOYAD" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-success">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- YENİ MÜŞTERİ MODAL -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@Resources.Labels.NewCustomer</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="addCustomerForm">
                    <div class="form-group">
                        <label>@Resources.Labels.CustomerName</label>
                        <input type="text" name="MUSTERIAD" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>@Resources.Labels.CustomerSurname</label>
                        <input type="text" name="MUSTERISOYAD" class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-primary">@Resources.Labels.NewCustomer</button>
                </form>
            </div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        // Güncelle butonuna tıklandığında modal'ı aç
        $(".btn-update").click(function (e) {
            e.preventDefault();
            var musteriId = $(this).data("id");

            // AJAX ile ürün verilerini al
            $.ajax({
                url: '/Musteri/MusteriGetir/' + musteriId,
                type: 'GET',
                success: function (data) {
                    // Modal'daki form elemanlarına verileri aktar
                    $("#musteriId").val(data.MUSTERIID);
                    $("#musteriAd").val(data.MUSTERIAD);
                    $("#musteriSoyad").val(data.MUSTERISOYAD);

                    // Modal'ı göster
                    $("#editModal").modal('show');
                },
                error: function () {
                    alert("Bir hata oluştu.");
                }
            });
        });

        // Güncelleme formu gönderildiğinde
        $("#editProductForm").submit(function (e) {
            e.preventDefault();

            var formData = {
                MUSTERIID: $("#musteriId").val(),
                MUSTERIAD: $("#musteriAd").val(),
                MUSTERISOYAD: $("#musteriSoyad").val(),

            };

            // AJAX ile güncelleme işlemi
            $.ajax({
                url: '/Musteri/MusteriGuncelle',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        $("#editModal").modal('hide');
                        location.reload(); // Sayfayı yenile
                    } else {
                        alert("Güncelleme başarısız.");
                    }
                },
                error: function () {
                    alert("Hata oluştu.");
                }
            });
        });


        // Yeni müşteri formu gönderildiğinde
        $("#addCustomerForm").submit(function (e) {
            e.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
                url: '/Musteri/YeniMusteri',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        $("#addModal").modal('hide');
                        location.reload(); // Yeni müşteri eklendikten sonra listeyi güncelle
                    } else {
                        alert("Ekleme başarısız.");
                    }
                },
                error: function () {
                    alert("Bir hata oluştu.");
                }
            });
        });

    });
</script>
