@using MvcStok.Models.Entity
@model List<TBLKATEGORILER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    string currentLang = Request.Cookies["language"]?.Value ?? "tr";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>@ViewBag.CategoryId</th>
            <th>@ViewBag.CategoryName</th>
            <th>@ViewBag.Delete</th>
            <th>@ViewBag.Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var kgtr in Model)
        {
            <tr data-id="@kgtr.KATEGORIID">
                <td>@kgtr.KATEGORIID</td>
                <td>
                    @(currentLang == "en"
                        ? kgtr.KATEGORIAD_EN
                        : kgtr.KATEGORIAD)
                </td>
                <td>
                    <!-- ✅ Silme butonuna sınıf eklendi -->
                    <a href="/KATEGORI/SIL/@kgtr.KATEGORIID" class="btn btn-danger btn-delete">
                        @ViewBag.Delete
                    </a>
                </td>
                <td>
                    <a href="#" class="btn btn-success btn-update" data-id="@kgtr.KATEGORIID">
                        @ViewBag.Update
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<button class="btn btn-primary" data-toggle="modal" data-target="#createModal">
    @ViewBag.NewCategory
</button>


<!-- GÜNCELLE MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Kategori Güncelle</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="editCategoryForm">
                    <input type="hidden" id="kategoriId" name="KATEGORIID" />
                    <div class="form-group">
                        <label>Türkçe Kategori Adı</label>
                        <input type="text" id="kategoriAd" name="KATEGORIAD" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>English Category Name</label>
                        <input type="text" id="kategoriAdEn" name="KATEGORIAD_EN" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-success">Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- EKLEME MODAL -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Yeni Kategori Ekle</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form id="createCategoryForm">
                    <div class="form-group">
                        <label>Türkçe Kategori Adı</label>
                        <input type="text" id="yeniKategoriAd" name="KATEGORIAD" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>English Category Name</label>
                        <input type="text" id="yeniKategoriAdEn" name="KATEGORIAD_EN" class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Ekle</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    $(function () {
        // Güncelleme modalını aç
        $(".btn-update").click(function (e) {
            e.preventDefault();
            var id = $(this).data("id");
            $.getJSON('/Kategori/KategoriGetir/' + id, function (data) {
                $("#kategoriId").val(data.KATEGORIID);
                $("#kategoriAd").val(data.KATEGORIAD);
                $("#kategoriAdEn").val(data.KATEGORIAD_EN);
                $("#editModal").modal('show');
            });
        });

        // Form gönderildiğinde güncelle
        $("#editCategoryForm").submit(function (e) {
            e.preventDefault();
            var formData = {
                KATEGORIID: $("#kategoriId").val(),
                KATEGORIAD: $("#kategoriAd").val(),
                KATEGORIAD_EN: $("#kategoriAdEn").val()
            };
            $.post('/Kategori/KategoriGuncelle', formData, function (resp) {
                if (resp.success) {
                    $("#editModal").modal('hide');
                    location.reload();
                } else {
                    alert("Güncelleme başarısız.");
                }
            }, 'json').fail(function () {
                alert("Hata oluştu.");
            });
        });
    });


    // Yeni kategori ekleme
    $("#createCategoryForm").submit(function (e) {
        e.preventDefault();
        var formData = {
            KATEGORIAD: $("#yeniKategoriAd").val(),
            KATEGORIAD_EN: $("#yeniKategoriAdEn").val()
        };
        $.post('/Kategori/YeniKategoriAjax', formData, function (resp) {
            if (resp.success) {
                $("#createModal").modal('hide');
                location.reload();
            } else {
                alert("Ekleme başarısız.");
            }
        }, 'json').fail(function () {
            alert("Sunucu hatası.");
        });
    });


</script>


